<section id="gallery" class="gallery">
  <div class="container-fluid">

    <div class="row gy-4 justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/devise.jpg", class: "img-fluid", alt: "Gallery 1") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
<!--            <a href="gallery-single.html" class="details-link">-->
            <%= link_to new_user_session_path, class: "details-link" do %>
              <i class="bi bi-link-45deg"></i>
            <% end %>
          </div>
        </div>
        <p>PROJECT NAME</p>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-2.jpg", class: "img-fluid", alt: "Gallery 2") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-3.jpg", class: "img-fluid", alt: "Gallery 3") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-4.jpg", class: "img-fluid", alt: "Gallery 4") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-5.jpg", class: "img-fluid", alt: "Gallery 5") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-6.jpg", class: "img-fluid", alt: "Gallery 6") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-7.jpg", class: "img-fluid", alt: "Gallery 7") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <%= image_tag("gallery/gallery-8.jpg", class: "img-fluid", alt: "Gallery 8") %>
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
          <p>PROJECT NAME</p>
        </div>
      </div><!-- End Gallery Item -->
    </div>

  </div>
</section>